<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Reversi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

    <userSettings>
        <Reversi.Properties.Settings>
            <setting name="UserPlaysAsBlack" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StrategyName" serializeAs="String">
                <value>Minimax</value>
            </setting>
            <setting name="StrategyLevel" serializeAs="String">
                <value>4</value>
            </setting>
        </Reversi.Properties.Settings>
    </userSettings>
</configuration>
